<section id="videos-page">
    <h2 class="videos">My videos</h2>
    <div class="groups">
        <div class="individual">
            <iframe width="300" height="215" src="https://www.youtube.com/embed/cG05vvLnauQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <div class="date">10 oct, 2022</div><div class="views">1</div>
        </div>
        <div class="individual">
            <iframe width="300" height="215" src="https://www.youtube.com/embed/cG05vvLnauQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <div class="date">10 oct, 2022</div><div class="views">1</div>
        </div>
        <div class="individual">
            <iframe width="300" height="215" src="https://www.youtube.com/embed/cG05vvLnauQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <div class="date">10 oct, 2022</div><div class="views">1</div>
        </div>
    </div>
    <h2 class="see-more"><a href="">See more</a></h2>
</section>